html{
    background-color: white;
}

body{
    background-color: white;
}

header{
    text-align: center;
    width: 100%;
    border-bottom: solid;
    border-color: brown;
}

.box{
    border: solid;
    margin: 3px;
}

.new-inputs{
    margin: 5px;
}